<form action="/dogs" method="post">

  <label for="dog[name]">Name: </label>
  <input type="text" name="dog[name]" value=""><br>


  <label for="dog[temperament]">Temperament: </label>
  <input type="text" name="dog[temperament]" value=""><br>


  <label for="dog[][friends]">friends: </label>
  <input type="text" name="dog[][friends]" value=""><br>

  <input type="submit" name="submit" value="Submit">

</form>
