<h1 class="center"> <%= @dogwalker.name %></h1>

<% @dogwalker.walks.each do |walk| %>
  <a href="/walks/<%= walk.id %>"><li class="center"><%= walk.pickup_time %> - <%= walk.dropoff_time %></li></a><br>
<% end %>

<a href="/walks/new"><input class="center" type="button" name="new_walk" value="New Walk"></a>
