<h1 class="center"> <%= @dogwalker.name %></h1>

<% @dogwalker.walks.each do |walk| %>
  <%= walk.address %><br>
<% end %>


<a href="/dogs/new"><input class = "center" type="button" name="add_dog" value="Add New Dog"></a>
<a href="/walks/new"><input class="center" type="button" name="new_walk" value="New Walk"></a>
