<form action="/signup" method="post" class="center">
  <label for="name">Name: </label>
  <input type="text" name="name" value=""><br>

  <label for="username">Username: </label>
  <input type="text" name="username" value=""><br>

  <label for="password">Password: </label>
  <input type="password" name="password" value=""><br>

  <input type="submit" name="submit" value="Submit">
</form>
