<form action="/walks" method="post">

  <h1>New Walk</h1>

  <label for="dog[name]">Dog: </label>
  <input type="text" name="dog[name]" value=""><br>


  <label for="address">Address: </label>
  <input type="text" name="address" value=""><br>

  <label for="pickup_time">Pickup Time: </label>
  <input type="text" name="pickup_time" value=""><br>

  <label for="dropoff_time">Dropoff Time: </label>
  <input type="text" name="dropoff_time" value=""><br>

  <input type="submit" name="submit" value="Submit">

</form>
